<h2>mensajes usuario:<input style="display:none ;" type="text" id="username" value="{{username}}">{{username}}</strong> </h2>
<form class="chatContainer" onsubmit="return sendMessage()">
    <div id="chat">
  </div>
    <input type="text" id="messageText"/>
    <input type="submit" value="Enviar" class="botonEnviarChat" />
</form>

<a href="/api/chat/{{username}}">ver mi historial</a>