
{{#each messagesList}}
  <div class="{{this.autorizacion}}">
    <div class="mensajes_display">
      <p class="emailStyle">{{this.username}}</p>
      <p class="dateStyle">{{this.timestamp}}</p>
    </div>
      <p class="textStyle">{{this.mensaje}}</p>
  </div>
{{/each}}