<form action="/api/login" method="post">
<label for="username">E-Mail</label>
<input type="email" name="username">
<label for="password">Password</label>
<input type="password" name="password">
<input type="submit" value="Ingresar">
</form>
<form action="/api/registro" method="get">
<input type="submit" value="Registrarse">
</form>