body{
    width: 90%;
    text-align: center;
    background-color: lightgray;
}

input{
    margin: 2rem 1rem;
}

nav {
    order: 5;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-basis: auto;
  }
  nav ul {
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    list-style: none;
  }
  nav ul li {
    margin: 0 10px;
    border: solid white 1px;
    padding: 5px;
    border-radius: 10%;
  }
  nav ul li a {
    text-decoration: none;
    color: black;
  }
  
  ul.submenu{
      display: none;
      position: absolute;
      margin-top: 6.5px;
      margin-left: -12px;
      padding: 4px 2px;
  
  }
  .submenu li{
    display: flex;
    flex-direction: column;
    background-color: #276390;
    margin: 2px 4px;
  
  }
  nav ul li:hover .submenu{
    display:flex;
    flex-direction: column;
    background-color: darkgray;
  }

a {
    text-decoration: none;
    border: solid black 1px;
    padding: 1px 2px;
    color: black;
    background-color:darkgray;
}

.ulProducts{
    width: 90vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.li_styles_products{
    list-style: none;
    width: 10rem;
    height: 17rem;
    border: solid 2px darkgray;
    margin: 5px;
}


#chat{
    width: 100%;
    height: 19rem;
    overflow-y:scroll;  
    }

img{
    height: 50%;
    width: 90%;
}

.productById_view{
    width: 20rem;
    height: 30rem;
    border: solid darkgray 2.5px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    margin-top: auto;
}

.datos_carritoOrden{
    font-size: 1.5rem;
    border: dashed 1px black;
}

.items_carritoOrden{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    border: solid 2px black;
    padding: 2px 3px
}

.total{
    margin:20rem;
}

.user{
    background-color: lightblue;
    font-size: 1rem;
    height: max-content;
    margin-top: 2px;
}

.admin{
    background-color: lightgreen;
    font-size: 1rem;
    height: max-content;
    margin-top: 2px;
}


.mensajes_display{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#messageText{
    width: 35rem;
    height: 3rem;
}
.botonEnviarChat{
    width: 5rem;
    height: 2rem;
}

div{
    margin-top: 1rem;
}

.form_agregarProducto{
    display: flex;
    flex-direction: row;
    margin-left: 4rem;    
}