<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="data:,">
  <script src="/socket.io/socket.io.js"></script>
  <script src="../../main.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"
    integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="../../style.css">

  <title>{{titulo}}</title>
</head>

<body>
  <form action="/api/login/logout" method="get">
    <input type="submit" value="Salir">
  </form>
  <form action="/api/carrito" method="get">
    <input type="submit" value="Carrito">
  </form>
  <form action="/api/orden/username" method="get">
    <input type="submit" value="Ver ordenes de usuario">
  </form>
  <form action="/api/orden/find_by_number" method="get">
    <input type="submit" value="buscar orden por numero">
  </form>
  <form action="/api/chat" method="get">
    <input type="submit" value="Chat">
  </form>
  {{{body}}}

</body>