<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="data:,">
  <script src="/socket.io/socket.io.js"></script>
  <script src="/main.js"></script>
  <script src="/adminLogica.js"></script>
  <script src="/carritoLogica.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"
    integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <link rel="stylesheet" href="/style.css">
  <title>{{titulo}}</title>
</head>

<body>
  <div class="links_nav">
    <a href="/api/login/logout">salir</a>
    <a href="/api/productos">productos</a>
    <a href="/api/carrito">Mi Carrito</a>
    <a href="/api/orden/username"> ver mis compras</a>
    <a href="/api/orden/find_by_number">ver mis compras por numero</a>
    <a href="/api/chat">ayuda</a>
  </div>
  {{{body}}}
</body>