<nav>
  <ul class="links_nav">
    <li><a href="/api/login/logout">salir</a></li>
    <li><a href="/api/productos">productos</a></li>
    <li><a href="/api/carrito">Mi Carrito</a></li>
    <li><a href="/api/orden/username"> ver mis compras</a></li>
    <li><a href="/api/orden/find_by_number">ver mis compras por numero</a></li>
    <li><a href="/api/chat">ayuda</a></li>
    <li>ver por categora
      <ul class="submenu">
        <li><a href="/api/productos">todas</a></li>
        <li><a href="/api/productos/filtro/hombre">hombre</a></li>
        <li><a href="/api/productos/filtro/mujer">mujer</a></li>
        <li><a href="/api/productos/filtro/accesorios">accesorios</a></li>
      </ul>
    </li>
  </ul>
</nav>